body, html {
  margin: 0;
  padding: 0;
  background-color: rgb(72, 153, 242);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#fakeCanvas {
  background-color: rgb(72, 153, 242);
  width: 600px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
  margin: 50px 0;
  border: 1px solid black;
}

#gameCanvas {
  background-color: rgb(180, 180, 180);
  width: 600px;
  height: calc(100vh - 100px);
  display: none;
  margin: 50px 0;
}

button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: blue;
}