body, html {
  margin: 0;
  padding: 0;
  background-color: rgb(72, 153, 242);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#fakeCanvas {
  background-color: rgb(72, 153, 242);
  width: 600px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
  margin: 50px 0;
  border: 1px solid black;
}

#gameOverCanvas {
  background-color: rgb(255, 0, 0); /* 배경색을 빨간색으로 변경 */
  width: 600px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
  margin: 50px 0;
  border: 1px solid black;
  display: none;
}

#gameCanvas {
  background-color: rgb(180, 180, 180);
  width: 600px;
  height: calc(100vh - 100px);
  display: none;
  margin: 50px 0;
}

button {
  background-color: gray; /* 기본 색상을 회색으로 설정 */
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: peachpuff; /* 마우스를 올리면 살색으로 변경 */
}

button:active {
  background-color: navy; /* 버튼을 누르면 남색으로 변경 */
}